* { margin: 0; padding: 0; }

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.font{
  color: #fafafa;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 500;
}

.clock{
  font-size: 25vh;
}

.color{
  font-size: 5vh;
}