* { margin: 0; padding: 0; }

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.font{
  color: #fafafa;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 500;
}

.clock{
<<<<<<< HEAD
  font-size: 4em;
}

.color{
  font-size: 2em;
=======
  font-size: 25vh;
}

.color{
  font-size: 5vh;
>>>>>>> 54b0f297a64e6ed8a151c9b970fb13b8dfae3a49
}